body {
	padding-bottom: 40px;
	color: #5a5a5a;
}
.rbtn{
	margin-right: 5px;
}
.choose {
	border: 1px solid lightgray;
}

.choose a{
	padding-right:12px ;
}

.spandwt
{
	display:block;
	text-align:center;
	line-height:25px;
}
.job{
	margin: 15px;
	border: 1px solid lightgray;
	float: left;
	position: relative;
	width: 500px;
}
.job-list-title{

}
.job-list-salary{

}
.job-list-address{

}
.job-list-apply{

}
.job-list-time{

}
.morejob{
	float: right;
	border: 1px solid lightgray;
	position: relative;
}
.clearfix{
    *zoom: 1;
}
.clearfix::after{
    content: ".";
    display: block;
    clear: both;

    height: 0;
    visibility: hidden;
}
.carousel-item img{
	width: 100%;
	height:300px;
}

